.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.header_section {
  justify-content: center;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
}

.tabs_section {
  justify-content: center;
  align-items: flex-start;
  height: auto;
  min-height: 60vh;
  padding-left: 5vw;
  padding-right: 5vw;
  transition: all .2s;
  display: flex;
}

.tabs_wrapper {
  background-color: #64646400;
  border-radius: 20px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1500px;
  height: auto;
  min-height: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 10px 0;
  display: block;
}

.tabsmenu {
  flex-flow: column;
  width: 350px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.tabsmenu.tabs-no-scrollbar {
  padding-right: 10px;
}

.tabs {
  justify-content: center;
  align-items: flex-start;
  height: auto;
  display: flex;
}

.tabs-content {
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
  color: #333;
  background-color: #ffffff0a;
  background-image: linear-gradient(108deg, #fff0, #ffffff12 50%, #fff0);
  border: 1px solid #707070;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-left: 5px;
  padding: 40px 40px 40px 60px;
  display: flex;
  transform: translate(0);
}

.tab-link-tab-2 {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: #fff;
  background-color: #ddd0;
  border: 1px solid #535353;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  transition: all .3s;
  display: flex;
}

.tab-link-tab-2:hover {
  background-color: #ffffff29;
  border-color: #949494;
  padding-left: 30px;
  font-weight: 400;
  transform: scale(1.03);
}

.tab-link-tab-2.w--current {
  color: #fff;
  background-color: #dddddd29;
  transition: all .2s;
}

.tab-link-tab-2.w--current:hover {
  padding-left: 30px;
}

.submit-button {
  color: #000;
  text-align: center;
  cursor: pointer;
  background-color: #c9f30d;
  border-radius: 11px;
  width: 40%;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  transition: all .2s;
  display: block;
}

.submit-button:hover {
  color: #c9f30d;
  background-color: #111;
  transform: scale(1.01);
}

.submit-button:active {
  background-color: #293106;
}

.paragraph {
  color: silver;
  text-align: left;
  width: auto;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 0;
  padding-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
}

.div-block-9 {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.div-block-10 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  margin-bottom: -30px;
  padding-bottom: 0;
  display: flex;
}

.config-step-2 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 0;
  display: flex;
}

.heading-4 {
  color: #fff;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  font-family: Montserrat, sans-serif;
  display: flex;
}

.komendy {
  text-align: left;
  background-color: #fff0;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
  display: flex;
}

.div-block-12 {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: #000;
  background-color: #e0e0e038;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 5px 10px;
  display: flex;
}

.opis {
  color: #ffffffad;
  background-color: #0000;
  border-radius: 4px;
  padding-left: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.komenda {
  color: #fff;
  text-align: center;
  border-radius: 4px;
  font-family: Inconsolata, monospace;
  font-size: 20px;
  font-weight: 700;
}

.text-block-3 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.edytujbotawrapper {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: block;
}

.edytujbotawrapper.hidden {
  display: none;
}

.body {
  background-image: linear-gradient(#070706, #070706);
  background-position: 0 0;
  flex-flow: column;
  justify-content: space-between;
  font-weight: 700;
  transition: all .2s;
  display: flex;
}

.text-block-4 {
  color: #fff;
  text-align: center;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.telegrambuttonwrapper {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #ffffff14;
  border: 1px solid #6e6e6e;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 10px;
  transition: all .2s;
  display: flex;
}

.telegrambuttonwrapper:hover {
  background-color: #ffffff29;
  transform: scale(1.01);
}

.lottie-animation {
  width: 150px;
  margin-top: 0;
}

.otworzwtgwrapper,
.otworzwwhatsappwrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

.image {
  border-radius: 7px;
  margin-left: 10px;
  padding-left: 0;
}

.image-2 {
  border-radius: 6px;
  margin-left: 10px;
}

.div-block-17 {
  display: flex;
}

.image-3 {
  margin-right: 10px;
}

.text-block-7 {
  color: #fff;
}

.tab-pane-tab-3 {
  width: 100%;
}

.prawiegotowewrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  display: block;
}

.prawiegotowewrapper.hidden {
  display: none;
}

.image-4 {
  margin-right: 10px;
}

.image-5,
.image-6 {
  margin-right: 10px;
  padding-right: 0;
}

.navbar-logo-left {
  width: 100%;
}

.navbar-logo-left-container {
  z-index: 5;
  background-color: #0000;
  width: 1030px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1500px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.container {
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.nav-menu-two {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-divider {
  background-color: #e4ebf3;
  width: 1px;
  height: 22px;
  margin-left: 15px;
  margin-right: 15px;
}

.mobile-margin-top-10 {
  align-self: auto;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #27272700;
  border: 1px solid #747474;
  border-radius: 13px;
  margin-left: 10px;
  padding: 12px 25px;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #444;
}

.button-primary:active {
  background-color: #43464d;
}

.statystykimainwrapper {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 0;
  padding-bottom: 40px;
  display: flex;
  overflow: visible;
}

.tab-pane-tab-4 {
  width: 100%;
  height: auto;
}

.upperstatswrapper {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 800px;
  max-width: 900px;
  height: auto;
  margin-bottom: 20px;
  display: flex;
}

.stat {
  background-color: #ffffff08;
  background-image: url('../images/finapla-symbol.svg'), radial-gradient(circle at 50% 200%, #65751d, #37410c 53%, #0f0f0c), linear-gradient(#ffffff2b, #81818182);
  background-position: 0 0, 0 0, 0 0;
  background-repeat: no-repeat, repeat, repeat;
  background-size: 50px, auto, auto;
  border: 1px solid #c9f30d;
  border-radius: 15px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 412px;
  height: 100%;
  margin-right: 10px;
  padding: 20px;
  transition: all .4s;
  display: flex;
}

.stat:hover {
  background-color: #ffffff14;
  transform: scale(1.02);
}

.stattitle {
  color: #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.statmainnumber {
  color: #fff;
  text-align: center;
  -webkit-text-stroke-color: #000;
  flex-flow: column;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 12px;
  padding-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 45px;
  font-weight: 700;
  display: flex;
}

.text-span-5 {
  color: #c9f30d;
  padding-top: 20px;
  font-size: 15px;
  font-weight: 700;
}

.div-block-18 {
  background-color: #1c1d1a00;
  background-image: none;
  border: 0 solid #bee60f8f;
  border-radius: 11px;
  width: 70%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 0;
  padding: 0 20px 10px;
}

.listwrapper {
  background-color: #fff0;
  background-image: linear-gradient(#ffffff2b, #81818182);
  border: 1px solid #ffffff63;
  border-radius: 13px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  width: 800px;
  max-width: 900px;
  height: 55px;
  margin-bottom: 10px;
  margin-right: 0;
  padding: 5px 10px;
  transition: all .4s;
  display: flex;
}

.listwrapper:hover {
  background-image: linear-gradient(#ffffff2b, #818181);
  transform: scale(1.01);
}

.text-block-12 {
  color: #fff;
  width: auto;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.buttonwrapper {
  justify-content: flex-end;
  align-items: center;
  width: 400px;
  display: flex;
}

.div-block-20 {
  width: 100%;
}

.div-block-21 {
  background-color: #ffffff75;
  border: 1px solid #ffffff1f;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 40px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.text-span-6 {
  color: #d1d1d1;
  font-style: italic;
  font-weight: 300;
}

.submit-button-greyed {
  color: #303030;
  text-align: center;
  cursor: pointer;
  background-color: #7e7e7e;
  border-radius: 11px;
  width: 40%;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  transition: all .2s;
  display: block;
}

.submit-button-greyed:hover {
  color: #303030;
  background-color: #7e7e7e;
  transform: scale(1.01);
}

.submit-button-greyed:active {
  background-color: #24a36c;
}

.lottie-animation-2 {
  flex-flow: row;
  width: auto;
  height: 150px;
  margin: -40px -30px -35px -66px;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
}

.title2 {
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 500;
  display: flex;
}

.title2.side {
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 20px;
}

.title2.side-2 {
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15vh;
  padding-bottom: 10px;
}

.tabelewrapper {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: auto;
  padding-top: 30px;
  display: flex;
}

.tab-pane-konfiguracja {
  width: 100%;
  height: auto;
  min-height: 75vh;
  position: static;
}

.line {
  background-image: linear-gradient(90deg, #fff0, #fff9 54%, #fff0);
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 0;
}

.statswrapper2 {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 0;
  padding-bottom: 40px;
  display: flex;
  overflow: visible;
}

.tab-pane-subskrypcja {
  width: 100%;
}

.tab-pane-tab-5 {
  width: 100%;
  max-width: none;
  height: 100%;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  background-color: #131313;
  width: 100%;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-8 {
  color: #f5f5f5;
}

.title-small {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: #929292;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
}

.footer-social-block {
  color: #e6e6e6;
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-copyright-center {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper {
  justify-content: space-between;
  align-items: flex-start;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-dark {
  background-color: #020202;
  border-bottom: 1px solid #e4ebf3;
  margin-top: 40px;
  padding: 50px 30px 15px;
  transition: all .2s;
  position: relative;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-span-7,
.text-span-8 {
  color: #c9f30d;
  font-size: 65px;
}

.button-seckondary {
  color: #fff;
  text-align: center;
  background-color: #c9f30d00;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 230px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 500;
  transition: all .4s;
}

.button-seckondary:hover {
  color: #0e0e0d;
  background-color: #c9f30d;
  border-color: #c9f30d;
  font-weight: 700;
}

.button-seckondary.emailupdate {
  border-radius: 20px;
  margin-top: 20px;
}

.button-seckondary.emailupdate:hover {
  border-width: 1px;
  border-color: #c9f30d;
}

.button-seckondary.passwordupdate {
  border-radius: 20px;
  margin-top: 20px;
}

.button-seckondary.passwordupdate:hover {
  border-width: 1px;
  border-color: #c9f30d;
}

.div-block-25 {
  display: flex;
}

.paragraph-2 {
  color: #fff;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

.paragraph-2.link {
  color: #d4ed0c;
  text-decoration: underline;
}

.title3 {
  color: #fff;
  margin-top: 40px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.field-label {
  color: #afafaf;
  width: auto;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.text-field {
  color: #fff;
  text-align: left;
  background-color: #ffffff1c;
  border: 1px solid #6b6b6b;
  border-radius: 20px;
  max-width: 400px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 87px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.text-field:hover {
  border: 1px solid #92a058;
}

.text-field:active {
  border-color: #c9f30d;
}

.text-field:focus {
  border: 2px solid #5f6641;
}

.inputwithbuttonwrapper {
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0;
  display: flex;
}

.link-2 {
  color: #fff;
}

.usunkontowrapper {
  padding-top: 40px;
  padding-left: 20px;
}

.div-block-28 {
  padding-top: 20px;
}

.line-side {
  background-image: linear-gradient(90deg, #ffffff4d, #fff0);
  width: 100%;
  height: 1px;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 0;
}

.mailuipdateform {
  padding-bottom: 20px;
}

.div-block-29 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.form {
  padding-bottom: 20px;
}

.prawiegotoweceneterd {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.link-block {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  transition: all .2s;
}

.link-block:hover {
  transform: scale(1.2);
}

.subscriptionstatuswrapper {
  background-color: #ffffff0d;
  border: 1px solid #6b6b6b;
  border-radius: 12px;
  margin-top: 0;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.heading-5 {
  color: #d0f00c;
  margin-bottom: 20px;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.wersjawrapper {
  justify-content: center;
  display: flex;
}

.div-block-31 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-block-16 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
}

.text3 {
  color: #ffffff9e;
  padding-left: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.subtitle {
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 500;
  display: flex;
}

.subtitle.side {
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 20px;
}

.subtitle.side-2 {
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 10px;
}

.subtitle-copy {
  color: #d1ef0c;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 700;
  display: flex;
}

.subtitle-copy.side {
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 20px;
}

.subtitle-copy.side-2 {
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 10px;
}

.div-block-32 {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.form-2 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  display: flex;
}

.checkbox-label {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
}

.checkbox {
  background-color: #0000;
  border: 1px solid #d1ef0c;
  border-radius: 0;
}

.submit-button-2 {
  color: #000;
  background-color: #d1ef0c;
  border-radius: 10px;
  margin-top: 10px;
  padding: 12px 50px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  transition: all .4s;
}

.submit-button-2:hover {
  background-color: #efff86;
  transform: scale(1.05);
}

.checkbox-field {
  padding-top: 10px;
}

.trialversionwrapper {
  display: block;
}

.text-span-9 {
  font-size: 15px;
  font-weight: 400;
}

.tabscontent {
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
  color: #333;
  background-color: #ffffff0a;
  background-image: url('../images/Warstwa-1.png'), linear-gradient(108deg, #fff0, #ffffff12 50%, #fff0);
  background-position: 50% 100%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 800px, auto;
  border: 1px solid #707070;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-left: 5px;
  padding: 40px 40px 40px 60px;
  display: flex;
  transform: translate(0);
}

.tabscontent-withglow {
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
  color: #333;
  background-color: #ffffff0a;
  background-image: url('../images/Warstwa-1.png'), linear-gradient(108deg, #fff0, #ffffff12 50%, #fff0);
  background-position: 50% 100%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 600px, auto;
  border: 1px solid #707070;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 70vh;
  margin-top: 0;
  margin-left: 5px;
  padding: 40px 40px 40px 60px;
  display: flex;
  transform: translate(0);
}

.div-block-33 {
  margin-left: 5px;
  padding: 40px 40px 40px 60px;
}

.premiumversion {
  display: block;
}

.div-block-34 {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 991px) {
  .subinfowrapper {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
  }

  .subinfocolumn {
    width: 100% !important;
  }
}

.image-9 {
  padding-bottom: 3px;
}

.subinfowrapper {
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.subinfocolumn {
  width: 50%;
}

.heading-6 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.text-block-17 {
  color: #ffffffb0;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

.linewrapper {
  background-color: #ffffff1c;
  border: 1px solid #ffffff1f;
  border-radius: 7px;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 10px;
  display: flex;
}

.text-block-17-copy {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  text-align: right;
}

.text-span-10 {
  color: #ffffff91;
  font-weight: 400;
}

.div-block-35 {
  text-align: center;
  padding-top: 20px;
}

.wersjawrapper-copy {
  justify-content: space-between;
  display: flex;
}

.subscriptionstatuswrapper-copy {
  background-color: #ffffff0d;
  border: 1px solid #6b6b6b;
  border-radius: 12px;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}

.heading-5-copy {
  color: #fff;
  margin-bottom: 20px;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.div-block-36 {
  display: block;
}

.bugreportwrapper {
  border: 0 solid #ffffff5e;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  margin-right: 20px;
  padding: 10px 20px;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.bugreportwrapper:hover {
  color: #fff;
  font-family: Montserrat, sans-serif;
  -webkit-text-decoration: underline #c9f30d;
  text-decoration: underline #c9f30d;
  transform: scale(1.05);
}

.div-block-37 {
  display: flex;
}

.textbugreportbutton {
  color: #8b8b8b;
  padding-top: 2px;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.textbugreportbutton:hover {
  color: #fff;
}

.section {
  justify-content: center;
  align-items: center;
  max-width: none;
  padding-top: 10px;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
}

.div-block-38 {
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  display: flex;
}

.image-10 {
  opacity: .5;
}

@media screen and (max-width: 991px) {
  .tabsmenu {
    white-space: nowrap;
    flex-flow: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    position: static;
    overflow: auto;
  }

  .tabsmenu.tabs-no-scrollbar {
    justify-content: flex-start;
    align-items: stretch;
    width: 100vw;
    padding-left: 48px;
  }

  .tabs {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .tabs-content {
    margin-left: 0;
    padding-bottom: 60px;
  }

  .tab-link-tab-2 {
    width: auto;
    margin-right: 10px;
    padding-right: 40px;
  }

  .tab-link-tab-2.w--current {
    justify-content: center;
    align-items: center;
    width: auto;
    margin-right: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .tab-link-tab-2.ustawieniakonta {
    margin-right: 10px;
  }

  .paragraph {
    text-align: center;
    width: auto;
  }

  .div-block-10 {
    padding-bottom: 20px;
  }

  .div-block-12 {
    width: 50vw;
  }

  .opis {
    width: 50vw;
    font-size: 15px;
  }

  .komenda {
    font-size: 15px;
  }

  .tab-pane-tab-3 {
    height: 70vh;
  }

  .image-4 {
    color: #c8f20d;
  }

  .navbar-logo-left-container.shadow-three {
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .container {
    max-width: none;
  }

  .nav-menu-wrapper {
    background-color: #0000;
  }

  .nav-menu-two {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: #000000eb;
    border-radius: 8px;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 10px;
    padding: 60px 20px 20px;
    display: flex;
    box-shadow: 0 8px 50px #0000000d;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #00000030;
    border-radius: 11px;
    font-size: 35px;
  }

  .icon {
    color: #fff;
    font-size: 35px;
  }

  .statystykimainwrapper {
    color: #fff;
  }

  .upperstatswrapper {
    width: 100%;
    min-width: auto;
  }

  .stat {
    width: 50%;
    padding-left: 60px;
    padding-right: 60px;
  }

  .stattitle {
    height: 60px;
  }

  .listwrapper {
    width: 100%;
    min-width: 620px;
    max-width: 819.906px;
  }

  .title2.side {
    justify-content: center;
    align-items: center;
  }

  .tab-pane-subskrypcja {
    height: auto;
  }

  .tab-pane-pomoc {
    align-self: auto;
    height: 70vh;
    position: static;
  }

  .tab-pane-tab-5 {
    height: auto;
  }

  .container-2 {
    max-width: 728px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .div-block-29 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    display: flex;
  }

  .subtitle {
    line-height: 30px;
  }

  .tabscontent,
  .tabscontent-withglow {
    margin-left: 0;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {

  .header_section,
  .tabs_section {
    padding-left: 0;
    padding-right: 0;
  }

  .tabs_wrapper {
    height: auto;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .tabsmenu {
    padding-left: 0;
    padding-right: 0;
  }

  .tabsmenu.tabs-no-scrollbar {
    padding-left: 20px;
  }

  .tabs-content {
    margin-top: 10px;
    margin-left: 0;
  }

  .tab-link-tab-2 {
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 40px;
    display: flex;
  }

  .tab-link-tab-2.ustawieniakonta {
    margin-right: 10px;
    padding-right: 35px;
  }

  .submit-button {
    font-size: 12px;
  }

  .paragraph {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }

  .div-block-9 {
    justify-content: center;
    align-items: center;
  }

  .heading-4 {
    font-size: 28px;
  }

  .opis {
    font-size: 12px;
    line-height: 20px;
  }

  .text-block-4 {
    text-align: left;
  }

  .text-block-5,
  .text-block-6 {
    text-align: left;
    font-size: 14px;
  }

  .text-block-8 {
    font-size: 14px;
  }

  .navbar-logo-left {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    display: block;
  }

  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu-wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    display: block;
  }

  .nav-menu-two {
    border-radius: 7px;
    flex-direction: column;
    width: 100%;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .nav-divider {
    width: 200px;
    max-width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .stat {
    background-position: 3% 5%, 0 0, 0 0;
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .stattitle {
    justify-content: center;
    align-items: center;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
  }

  .div-block-18 {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
  }

  .listwrapper {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    height: auto;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .text-block-12 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
  }

  .buttonwrapper {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .div-block-21 {
    height: 55px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .submit-button-greyed {
    font-size: 12px;
  }

  .title2.side-2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    line-height: 30px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: #1a1b1fbf;
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .subscriptionstatuswrapper {
    padding-bottom: 20px;
  }

  .heading-5 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .wersjawrapper {
    flex-flow: column;
    align-items: center;
  }

  .subtitle.side-2,
  .subtitle-copy.side-2 {
    text-align: left;
    padding-bottom: 0;
    line-height: 30px;
  }

  .tabscontent,
  .tabscontent-withglow {
    margin-top: 10px;
    margin-left: 0;
  }

  .wersjawrapper-copy {
    flex-flow: column;
    align-items: center;
  }

  .subscriptionstatuswrapper-copy {
    padding-bottom: 20px;
  }

  .heading-5-copy {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 479px) {
  .header_section {
    padding-left: 0;
    padding-right: 0;
  }

  .tabs_section {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .tabs_wrapper {
    max-width: none;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .tabsmenu {
    width: 100%;
    height: 80px;
    padding-bottom: 0;
    overflow-y: hidden;
  }

  .tabsmenu.tabs-no-scrollbar {
    align-items: center;
    height: auto;
    min-height: 40px;
    padding-left: 10px;
  }

  .tabs-content {
    justify-content: center;
    align-items: flex-start;
    margin-top: 15px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
  }

  .tab-link-tab-2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 40px;
    padding: 18px 40px;
  }

  .tab-link-tab-2:hover {
    padding-left: 40px;
  }

  .tab-link-tab-2.w--current {
    min-height: 30px;
    padding: 18px 40px;
  }

  .tab-link-tab-2.w--current:hover {
    padding-left: 40px;
  }

  .tab-link-tab-2.ustawieniakonta {
    padding-top: 16px;
  }

  .submit-button {
    width: 200px;
  }

  .paragraph {
    text-align: center;
    padding-top: 10px;
    font-size: 12px;
    line-height: 20px;
  }

  .config-step-2 {
    height: auto;
  }

  .heading-4 {
    text-align: center;
  }

  .komendy {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .div-block-12 {
    justify-content: flex-start;
    align-items: center;
    width: auto;
  }

  .opis {
    width: 80vw;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 0;
  }

  .edytujbotawrapper {
    display: block;
  }

  .body {
    background-image: linear-gradient(0deg, #000, #070900 31%, #3b3f2a 59%, #000);
    background-position: 0 0;
  }

  .text-block-4 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    font-size: 14px;
  }

  .telegrambuttonwrapper {
    border-radius: 10px;
    flex-flow: column;
    margin-bottom: 10px;
  }

  .otworzwtgwrapper {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .otworzwwhatsappwrapper {
    flex-flow: column;
  }

  .image-2 {
    margin-left: 0;
  }

  .text-block-5 {
    font-size: 13px;
  }

  .text-block-6 {
    text-align: center;
    width: auto;
    font-size: 13px;
  }

  .prawiegotowewrapper {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    justify-content: flex-start;
    align-items: center;
    display: block;
  }

  .prawiegotowewrapper.hidden {
    display: none;
  }

  .text-block-8 {
    font-size: 13px;
  }

  .navbar-logo-left-container.shadow-three,
  .container {
    max-width: none;
  }

  .nav-menu-two {
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
    background-color: #000000b8;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .button-primary {
    margin-top: 10px;
  }

  .menu-button.w--open {
    background-color: #9c9c9c26;
    border-radius: 12px;
  }

  .icon {
    color: #fff;
    background-color: #fff0;
    font-size: 40px;
  }

  .upperstatswrapper {
    flex-flow: column;
  }

  .stat {
    background-size: 30px, auto, auto;
    width: 90vw;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 5px 15px;
  }

  .stattitle {
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 15px;
    padding: 5px 20px;
    font-size: 15px;
    display: flex;
  }

  .statmainnumber {
    font-size: 35px;
  }

  .text-span-5 {
    font-size: 14px;
  }

  .listwrapper {
    width: 100%;
    min-width: auto;
    max-width: none;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
  }

  .text-block-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .buttonwrapper,
  .div-block-20 {
    width: auto;
  }

  .submit-button-greyed {
    width: 200px;
  }

  .lottie-animation-2 {
    width: auto;
    height: 100px;
    margin-left: 0;
    margin-right: 0;
  }

  .title2 {
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
  }

  .title2.side {
    line-height: 25px;
  }

  .title2.side-2 {
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
    line-height: 26px;
  }

  .tab-pane-konfiguracja {
    height: auto;
    margin-bottom: 27px;
  }

  .line {
    width: 100%;
  }

  .statswrapper2 {
    flex-flow: column;
  }

  .text-block-13,
  .text-block-14,
  .text-block-15 {
    font-size: 13px;
  }

  .image-7 {
    padding-left: 5px;
  }

  .container-2 {
    max-width: none;
  }

  .text-span-7,
  .text-span-8 {
    font-size: 45px;
  }

  .button-seckondary.emailupdate,
  .button-seckondary.passwordupdate {
    width: 50%;
  }

  .div-block-25 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .field-label {
    font-size: 12px;
  }

  .usunkontowrapper {
    text-align: left;
  }

  .line-side {
    width: 100%;
  }

  .prawiegotoweceneterd {
    justify-content: center;
    align-items: center;
  }

  .subscriptionstatuswrapper {
    flex-flow: row;
  }

  .heading-5 {
    padding-left: 0;
  }

  .div-block-31 {
    flex-flow: column;
  }

  .text-block-16 {
    padding-bottom: 10px;
  }

  .text3 {
    text-align: center;
    padding-left: 0;
    font-size: 12px;
    font-weight: 500;
  }

  .subtitle {
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    font-size: 20px;
    line-height: 25px;
  }

  .subtitle.side-2 {
    text-align: left;
    margin-top: 40px;
    font-size: 16px;
    line-height: 26px;
  }

  .subtitle-copy {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  .subtitle-copy.side-2 {
    text-align: left;
    margin-top: 40px;
    font-size: 16px;
    line-height: 26px;
  }

  .checkbox-label {
    color: #ffffffa3;
    text-align: center;
  }

  .checkbox {
    background-color: #af5959;
  }

  .submit-button-2 {
    width: 100%;
  }

  .checkbox-field {
    padding-left: 30px;
    padding-right: 30px;
  }

  .tabscontent {
    justify-content: center;
    align-items: flex-start;
    margin-top: 15px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
  }

  .tabscontent-withglow {
    justify-content: center;
    align-items: flex-start;
    margin-top: 15px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }

  .premiumversion {
    display: block;
  }

  .subscriptionstatuswrapper-copy {
    flex-flow: row;
  }

  .heading-5-copy {
    padding-left: 0;
  }

  .bugreportwrapper {
    justify-content: flex-end;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }


}

#w-node-_3849e9ec-3e1e-f890-6d07-14324250f92c-053d0196,
#w-node-_3849e9ec-3e1e-f890-6d07-14324250f933-053d0196,
#w-node-_3849e9ec-3e1e-f890-6d07-14324250f93c-053d0196 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}