.loginwrapper {
  justify-content: center;
  align-items: center;
  width: auto;
  height: 90vh;
  margin-right: 0;
  padding-right: 0;
  display: flex;
  position: relative;
}

.loginandtextwrapper {
  background-color: #fff0;
  border-radius: 20px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 0 60px;
  display: flex;
  position: static;
  inset: 30vh 0 0% auto;
}

.tabelawrapper {
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
  background-color: #4e4e4e73;
  border: 1px solid #616161;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: auto;
  max-width: none;
  height: 100%;
  min-height: 250px;
  margin-bottom: 10px;
  padding: 20px 60px 40px;
  display: flex;
}

.logowanieprawawrapper {
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 800px;
  max-width: 2000px;
  display: block;
}

.body {
  background-image: linear-gradient(#000, #0c0c0c);
  margin-right: 0;
  padding-left: 5vw;
  padding-right: 5vw;
}

.div-block-4 {
  justify-content: center;
  align-items: center;
  height: 10vh;
  display: flex;
}

.backbuttonwrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-block-7 {
  color: #fff;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.link-block {
  color: #fff;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 200px;
  padding: 5px 15px;
  transition: all .2s;
  display: flex;
}

.link-block:hover {
  color: #c9f30d;
  transform: scale(1.05);
}

@media screen and (max-width: 991px) {
  .loginwrapper {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .loginandtextwrapper {
    height: 100%;
    inset: auto 0% 0%;
  }

  .tabelawrapper {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .logowanieprawawrapper {
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  .loginandtextwrapper {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .tabelawrapper {
    max-width: 450px;
    height: auto;
    margin-top: 40px;
  }

  .logowanieprawawrapper {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .loginwrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .tabelawrapper {
    max-width: 350px;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .logowanieprawawrapper {
    width: 100%;
  }

  .body {
    background-image: linear-gradient(#000, #1f1f1f), linear-gradient(#000000db, #000000db);
  }
}
